<mat-card>
  <mat-card-title>Gerenciamento de Vendas</mat-card-title>
  <mat-card-subtitle>Relatório</mat-card-subtitle>
  <div class="menu">
    <li>
      <label for="name">Data Inicial</label>
      <input type="date" name="dataInicial" [(ngModel)]="dataInicial" />
  </li>
  </div>
  <div class="menu">
    <li>
      <label for="name">Data Final</label>
      <input type="date" name="dataFinal" [(ngModel)]="dataFinal" />
    </li>
  </div>
  <button mat-button (click)="listarVenda()">Gerar Relatório</button>


  <ul class="menu">
    <li *ngFor="let venda of vendas" >
      Nome do Cliente: {{venda.cliente.nome}}
      <ul>
        <li *ngFor="let itemVenda of venda.itensVendidos" >
          <span class="botaoEditar">
            Produto Comprado: {{itemVenda.roupa.tipoRoupa}} <br>
            Forma de Pagamento: {{venda.pagamento.tipoPagamento}} <br>
            Preço Vendido: {{itemVenda.precoVendido}} <br>
            Quantidade Comprada: {{itemVenda.quantidadeVendida}} <br>
            Data de Compra: {{venda.dataVenda}}
          </span>
        </li>
      </ul>
  </ul>
</mat-card>
