<mat-card>
  <mat-card-title>Gerenciamento de Vendas</mat-card-title>
  <mat-card-subtitle>Relatório</mat-card-subtitle>
  <div class="menu">
    <mat-form-field appearance="fill">
      <mat-label>Data Inicial</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dataInicial">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="menu">
    <mat-form-field appearance="fill">
      <mat-label>Data Final</mat-label>
      <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="dataFinal">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-button (click)="listarVenda()">Gerar Relatório</button>

  <ul class="menu">
    <li *ngFor="let venda of vendas" >
      Nome do Cliente: {{venda.cliente.nome}}
      <ul>
        <li *ngFor="let itemVenda of venda.itensVendidos" >
          <span class="botaoEditar">
            Produto Comprado: {{itemVenda.roupa.tipoRoupa}} <br>
            Forma de Pagamento: {{venda.pagamento.tipoPagamento}} <br>
            Preço Vendido: {{itemVenda.precoVendido}} <br>
            Quantidade Comprada: {{itemVenda.quantidadeVendida}} <br>
            Data de Compra: {{venda.dataVenda}}
          </span>
        </li>
      </ul>
  </ul>
</mat-card>
