<mat-card>
  <mat-card-title>Gerenciamento de Pagamentos</mat-card-title>
  <button mat-button (click)="novoPagamento()">Novo Pagamento</button>
  <ul class="menu">
    <li *ngFor="let pagamento of pagamentos" >
      <span class="botaoEditar" (click)="selecionarPagamento(pagamento)">
      Tipo de Pagamento: {{ pagamento.tipoPagamento }}
      </span>
      <span class="botaoExcluir" (click)="excluir(pagamento)">
        X
      </span>
    </li>
  </ul>

<div *ngIf="pagamentoEdicao">
    <h2>Insira os dados do pagamento</h2>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Pagamento</mat-label>
        <input matInput type="text" [(ngModel)]="pagamentoEdicao.tipoPagamento" autocomplete="off">
      </mat-form-field>
    </div>
    <button mat-button (click)="salvar()">Salvar</button>
    <button mat-button (click)="cancelar()">Cancelar</button>
</div>
</mat-card>

