<mat-card>
  <mat-card-title>Gerenciamento de Clientes</mat-card-title>
  <button mat-button (click)="novaRoupa()">Nova Roupa</button>
  <ul class="menu">
    <li *ngFor="let roupa of roupas" >
      <span class="botaoEditar" (click)="selecionarRoupa(roupa)">
      Tipo: {{ roupa.tipoRoupa }} - Marca: {{ roupa.marca }} - tamanho: {{ roupa.tamanho }}
       - Preço:{{ roupa.preco }} - Estoque: {{ roupa.estoque }}
      </span>
      <span class="botaoExcluir" (click)="excluir(roupa)">
        X
      </span>
    </li>
  </ul>

<div *ngIf="roupaEdicao">
    <h2>Insira os dados da Roupa</h2>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <input matInput type="text" [(ngModel)]="roupaEdicao.tipoRoupa" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label> Marca</mat-label>
        <input matInput type="text" [(ngModel)]="roupaEdicao.marca" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Tamanho</mat-label>
        <input matInput type="text" [(ngModel)]="roupaEdicao.tamanho" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Preço</mat-label>
        <input matInput type="text" [(ngModel)]="roupaEdicao.preco" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Estoque</mat-label>
        <input matInput type="number" [(ngModel)]="roupaEdicao.estoque" autocomplete="off">
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="salvar()">Salvar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</div>
</mat-card>



