<div>
  <h1>Paris Clothes</h1>
  <div>
    <ul class="list">
      <li class="flex-item">
        <a routerLink="/cliente">Cliente</a>
      </li>
      <li class="flex-item">
        <a routerLink="/roupa">Roupa</a>
      </li>
      <li class="flex-item">
        <a routerLink="/pagamento">Pagamento</a>
      </li>
      <li class="flex-item">
        <a routerLink="/venda">Relatório</a>
      </li>
      <li class="flex-item">
        <a routerLink="/fazervenda">Função de Venda</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
