<mat-card>

  <mat-card-title>Vendas</mat-card-title>

  <button mat-button (click)="novaVenda()">Nova Venda</button>

<div *ngIf="vendaEdicao">
  <h2>Insira os dados da Venda</h2>
    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Número da Venda: </mat-label>
        <input matInput type="number" [(ngModel)]="venda.numeroVenda" autocomplete="off">
      </mat-form-field>
    </div>

    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Insira o Nome do Cliente: </mat-label>
        <input matInput type="text" [(ngModel)]="venda.cliente.id" autocomplete="off">
        <mat-select [(ngModel)]="venda.cliente.id" name="cliente">
          <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
            {{cliente.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Insira o ID do Pagamento:</mat-label>
        <input matInput type="text" [(ngModel)]="venda.cliente.id" autocomplete="off">
        <mat-select [(ngModel)]="venda.pagamento.id_pagamento" name="pagamento">
          <mat-option *ngFor="let pagamento of pagamentos" [value]="pagamento.id_pagamento">
            {{pagamento.tipoPagamento}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Insira a roupa:</mat-label>
        <input matInput type="text" [(ngModel)]="roupa.id" autocomplete="off">
        <mat-select [(ngModel)]="roupa.id" name="roupa">
          <mat-option *ngFor="let roupa of roupas" [value]="roupa.id">
            {{roupa.tipoRoupa}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Insira a Quantidade Vendida:</mat-label>
        <input matInput type="number" [(ngModel)]="quantidadeVendida" autocomplete="off">
      </mat-form-field>
    </div>

    <div class="menu">
      <mat-form-field appearance="fill">
        <mat-label>Insira o Preço Vendido:</mat-label>
        <input matInput type="text" [(ngModel)]="roupa.preco" autocomplete="off">
      </mat-form-field>
    </div>

    <button mat-button (click)="adicionarRoupa()">Adicionar Roupa</button>

    <ul class="menu">
      <li *ngFor="let itemVenda of venda.itensVendidos">
        <span>
          quantidadeVendida {{ itemVenda.quantidadeVendida }} - Produto Comprado: {{roupa.id}}
        </span>
      </li>
    </ul>

  <button mat-button (click)="fazerVenda()">Fazer Venda</button>
</div>
</mat-card>
